[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 15.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 15.0

[submodule "OCA/product-variant"]
	path = OCA/product-variant
	url = git@github.com:OCA/product-variant.git
	branch = 15.0
